.picture {
  position: absolute;
  background-color: #fff;
  border: 10px #fff solid;
  border-bottom-width: 15px;
  box-shadow: 1px -2px 3px 3px rgba(0,0,0,.2);

  img {
    margin-bottom: 10px;
    -webkit-filter: sepia(60%);
    filter: sepia(60%);
  }

  figcaption {
    transform: rotate(-2deg);
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
  }

  &.sean {
    top: -200px;
    left:-80px;
    transform: rotate(-15deg);
    img {
      width: 200px;
    }
  }

  &.jacques {
    top: -120px;
    left:-150px;
    transform: rotate(-5deg);
    img {
      height: 150px;
    }
  }
}

.card-board {
  .picture {
    top:0;
    left: 0;
  }
}
